html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
body {
    background-color: whitesmoke;
}

.bq {
    padding: 2px 6px 4px 2px;
    color: #555555;
    background-color: #eeeeee;
    border: #dddddd 2px solid;
}

h1 {
    color: blue;
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
}

/* Nav Bar Here */
    .navbar {
        background: #333;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center; /* Ensures vertical alignment */
        position: sticky;
        top: 0; /* Stick to the top of the page */
        z-index: 1000; /* Ensure it's on top of other content */
    }

    /* Styling for Navbar Items */
    .navbar ul {
        display: flex;
        list-style: none;
        gap: 30px; /* Even spacing between items */
        padding: 0;
        margin: 0;
    }

    /* Links */
    .navbar a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        transition: 0.3s;
    }

    .navbar a:hover {
        color: #ddd;
        background: #444;
        border-radius: 4px;
        padding: 5px 10px;
    }
/* End Nav Bar */


h2 {
    color: black;
}

/* Sticky header styles */
.sticky-header {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Stick to the top */
    background-color: whitesmoke; /* Same background as body */
    z-index: 10; /* Make sure it's above other content */
    padding: 5px 0; /* Reduced padding around the header */
}

.header {
    color: blue;
    text-align: center;
    font-size: 25px;
    margin: 10px 0; /* Reduced margin around the headers */
}

.par {
    color: black;
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 25px;
    margin-top: 25px;
    font-size: large;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.centerCat {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

ul {
    line-height: 25px;
    margin-left: 50px;
    font-style: italic;
    font-size: large;
}
